@use '../../assets/sass/variables.scss' as *;

.engagement__detail{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 70%;
    height: auto;
    font-family: $font-poppins;
    
}



