
.engagament-form{
    
   
    &__element{
        display: grid;
         grid-template-rows: 2fr;
         grid-gap: 30px;
         width: 300px;
        
      
        &--category {
            width: 500px;
        }
       
    }
  
}