@use '../../assets/sass/variables.scss' as *;

.eng-form{

    display: block;
   // flex-direction: column;
 //   justify-content: flex-start;
    margin-top: 100px;
    margin-left: 100px;

    width: 700px;
    height: 930px;

    border-width: 5px 5px 7px 7px;
        border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
        //transform: rotate(-2deg);
        border: 10px solid $color-main; 
        align-items: center;

       


    @media (max-width: 768px) {


        &__title{
            margin-left: 200px;
            margin-top: 20px;
            margin-bottom: 30px
            ;
        }


        &__elements{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            width: 100px;
           // margin-right: 10px;
            border-radius: 5%;
            left: 10%;
            margin-top: 10px;
            left: calc(20%);
        }

        
    }

    @media (min-width: 500px) {

        &__title{
            margin-left: 200px;
            margin-top: 20px;
            margin-bottom: 30px
            ;
        }
    
   
    &__elements{
        display: grid;
         grid-template-columns: 1fr;
         grid-gap: 20px;
         width: 350px;
         border-radius: 2px;
    }  

    &__elements--category{
             width: 500px;
         }
         
  
       
    }

    &__input {
        border-radius: 5px;
        margin-left: 50px;
    }   
    
    &__submit {
        margin-top: 30px;
        margin-left: 200px;
        width: 250px;
        height: 60px;
        border-radius: 10%;
    }

    &__label {
        margin-left: 50px;
    }
    
   
}
  
