@use '../../assets/sass/variables.scss' as *;

.navbar {

    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        width: 300px;
        height: auto;
        margin-top: 100px;
        background-color: $color-background;
        color: $color-text;
        font-size: $font-mid;
        line-height: $line-height-reg;
        font-weight: $font-weight-bold;
        font-family: $font-poppins;
        text-decoration: none;

        &__link {

            
                text-decoration: none;
            

         
                
             //   padding: 50px;
           margin: 50px 0;   
           
           &--one {
                   margin-top: 100px;
           }

        }
       
    
}