@use '../../assets/sass/variables.scss';

.main{
    display: grid;
    grid-template-columns: 400px 1fr;
    //margin-top: 100px;
}

.suggestion{
    cursor: pointer;
    border-right: 1px solid royalblue;
    border-left: 1px solid royalblue;
    border-bottom: 1px solid royalblue;
    background-color: #ffff;

}

.suggestion:hover{
    background-color: grey;
}

