@use '../../assets/sass/variables.scss' as *;


.engagementViewModel{
    
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: papayawhip;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: 'rgba(145, 150, 172, 0.18)';
   // background-image: url('../../assets/images/brids.jfif');
   background-image: url('../../assets/images/realistic-blue-sky-background_1048-6707.jpg');
    background-size: cover;
  }

  .engagementView{


    display: block;
    width: 700px;
   // height: 750px;
   height: auto;
    position: absolute;
    top: calc(5%);
    left: calc(30%);
    padding: 5px;
    justify-content: center;
  // border-width: 3px 3px 5px 5px;
   // border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
   border-radius: 1%;
   // transform: rotate(-2deg);
   // border: 5px solid sienna;
  // border: 10px solid royalblue;
   background-color: #ffff;
   color: $color-main;
   font-size: $font-midlarge;
    
   &__title {
     margin-left: 150px;
     margin-bottom: 20px;
     padding: 5px;
   }

    &__items {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 50px;
        margin-top: 60px;
        padding: 5px;
        line-height: 2;
        margin-right: 20px;
    }

    &__cross {
        position: absolute;
        margin-left: 610px;
        margin-top: 30px;
    }

    &__top {
        position: absolute;
        margin-left: 30px;
        margin-top: 15px;
    }


  }

  .save, .flag{
    padding: 2px;
    margin-right: 2px;
    margin-left: 5px;
    margin-top: 30px;
  }