@use '../../assets/sass/variables.scss' as *;

.engagement__detail{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // The below two properties might have to be adjusted
    grid-gap: 20px;
}