@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//fonts
$font-poppins: Poppins;
$font-large: 24px;
$font-midlarge: 20px;
$font-mid: 16px;
$font-small: 8px;
$font-weight-bold: 400;
$line-height-reg: 18px;

//colors

$color-main: #0063B2FF;
$color-background: #fafafa;
$color-text: #4885ed;
$font-color-black: #343D61;
$font-color-light-black: #4D5578;
$font-color-white: #FFFFFF;
$font-color-grey: #98A2AE;